#title {
  color: darkblue;
}
body {
    margin: 0;
    padding: 0;
  }
h1 {
  color: red;
}
.title {
  color: beige !important;
}

header, footer {
  /* color: green; */
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}
.column {
  flex-basis: calc(50% - 20px);
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.column:last-child {
  margin-bottom: 0;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.image {
  width: 80%;
}